#results td, #results th {
    font-size:15px;
    border-bottom:1px
    solid #fff; color:#fff;
    padding:15px; margin:0 0 0 0;
    text-align:center;
}

#results th {
    background-color:#BFA58E;
    color:#141826;
}

#results a {
    color:#fff!important;
}

.form-table {
    padding: 10px;
}

.form-table table {
    padding: 15px;
    border-radius: 3px;
}

.form-table a {
    color: #E69;
    font-family: Verdana;
    font-size: 12px;
}

.form-table td {
    font-family: Verdana;
    font-size: 14px;
}

.form-table strong {
    font-family: Verdana;
    margin: 0px 0px 0px 10px;
    font-size: 18px;
}

.form-table input[type="submit"]:hover {
    cursor: pointer;
    background-color: #999;
}

p{
    margin: 23px 9px 0px 3px;
    padding: 1px 0px 0px 2px
    color:#BFA58E;
}
input {
    margin: 8px 0px 8px 0px;
    padding: 4px 6px 4px 6px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #444;
    border-radius: 3px;
}

p {
    font-size: 21px;
    color: #BFA58E;
    position: relative;
    top: -2px;
    padding: 1px 3px 0px 2px;
    margin: 0px 11px 0px 4px;
}

#results {
    width:100%;

}

body {
    background-attachment:fixed;
    background-image:url('bycs.jpg');
    background-size:cover;
    margin:0 0 0 0;
    padding:0 0 0 0;
}

.center {
    width:800px;
    position:relative;
    background-color:rgba(0,0,0,.55);
    margin:0 auto; min-height:100%;
}

h1 {
    color:#BFA58E;
    width:100%;
    float:left;
    text-align:center;
}
#main-form {
    padding: 25px;
    float: left;
    margin: 10px 205px;
    width: 390px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    display: none;
}

#main-form p {
    color: #222;
    font-family: Verdana;
    margin: 0px;
    font-size: 13px;
    font-weight: 600;
}

#results-wrapper th {
    font-family: Verdana;
    font-weight: bold;
    font-size: 10px;
    color: #333;
}

#results-wrapper tr {
    background-color: rgba(0, 0, 0, 0.6);
}

#main-form input {
    margin: 0px 0px 6px 0px;
}

#results-wrapper {
    padding-bottom:30px;
}

.about  {
    font-size: 31px;
    float: left;
    width: 94%;
    margin: 7% 3% 0 3%;
    font-family: Perpetua;
    color: #BFA58E;

}
.index-btn {
    position: relative;
    top: -31px;
    left: 22px;
    margin: 0px 0px 0px -22px;
    background-color: #BFA58E;
    font-family: Perpetua;
    padding: 10px 19px 10px 13px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

body .about-btn {
    top: 39px;
    color: #141826;
    text-decoration: none;
}

.add-btn {
    margin: 0px 0px 0px 102px;
    padding: 12px 30px 9px 25px;
    position: relative;
    top: -29px;
    left: -16px;
    color: #141826;
    font-weight: bold;
    text-decoration: none;
    background-color: #BFA58E;
    cursor: pointer;
    transition:ease .3s all;
}

.toggle, .about-btn  {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #BFA58E;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition:ease .3s all;
}

.toggle:hover, .loggout:hover, .about-btn :hover {
    opacity:.8;
}

.logout {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #BFA58E;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: ease .3s all;
    color: #141826;
    text-decoration: none;
}

#submit {
    background-color: #BFA58E;
    border: none;
    color: #141825;
    padding: 8px 0;
    font-size: 16px;
    text-transform: uppercase; cursor:pointer;
}

#items {
    font-family: Perpetua
    color:#BFA58E,
    font-size: 24px;
    font-weight: bold;
}


li {
    font-size: 24px;
    position: relative;
    color: #BFA58E;
    top: 23px;
}

}
button {
    margin: 9px 0px 0px 6px;
    padding: 0px 7px 2px 7px;

}

h2{
    color: #BFA58E;
    font-family: Perpetua;
    font-size: 24px
    font-weight:bold;
}
